.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}

h3 {
	text-align: center;
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
}

.shad {
	box-shadow: 5px 10px 10px 5px lightblue;

}

.mar {
	margin-left: 120px;

	color:#FFC312 !important;
}

.h {
	margin: 20px;
}

.rightbutton {
	float: right;

	margin-right: 50px;
}
